body {
  padding: 2em;
}
body {
  font-family:
    "Century Gothic",		/* Windows (HP printer) */
    "Avant Garde Gothic",	/* HP font name */
    "Avant Garde",		/* MacOS */
    "URW Gothic L",		/* Unix+X+FontConfig */
/* Fallback options */
    helvetica,			/* Unix+X, MacOS */
    sans-serif;
}
h2 {
  font-weight: normal;
}


