body {
  	padding: 2em;
}
body {
	font-family: sans-serif;
	color: #333333;
}
h2 {
	font-family:
    	"Century Gothic",		/* Windows (HP printer) */
    	"Avant Garde Gothic",	/* HP font name */
    	"Avant Garde",			/* MacOS */
    	"URW Gothic L",			/* Unix+X+FontConfig */
		/* Fallback options */
    	helvetica,				/* Unix+X, MacOS */
    	sans-serif;
	font-weight: normal;
}
p {
	font-size: 12px;
}
a {
	border: 1px solid #AAAAAA;
	text-decoration: none;
	color: #333333;
	padding: 5px;
}
a:hover{ 
	border: 1px solid #333333;
	text-decoration: none;
	background-color: #333333;
	color: #FFFFFF;
	padding: 5px;	
}
a.selected {
	border: 1px solid #333333;
	text-decoration: none;
	background-color: #333333;
	color: #FFFFFF;
	padding: 5px;		
}